<div class="container" style="width: 26%; margin-top: 5%;">
<%= form_for @user do |f| %>
  <h1 style="font-family: Arial,sans-serif;">Sign Up</h1>
  <div class="form-group">
    <%= f.label :Name %>:
    <%= f.text_field :name %><br />
  </div>

  <div class="form-group">
    <%= f.label :Age %>:
    <%= f.number_field :age %><br />
  </div>

  <div class="form-group">
    <%= f.label :Email %>:
    <%= f.text_field :email %><br />

  <div class="form-group">
    <%= f.label :Password %>:
    <%= f.password_field(:password) %>
  </div>
  <%= f.submit %>
  <!--button id="registrar" class="btn btn-default" style="background: linear-gradient(to bottom,#dc3545,#f0c14b); width: 100%">Registrarse</button-->
  <!-- <button id="enviar" type="submit" class="btn btn-default" style="background: linear-gradient(to bottom,#dc3545,#f0c14b); width: 100%;">Registrarse</button> -->
<% end %>
<br>
